<%- include('../partials/header') %>
    <div id="list">
        <form id="add-new-card" action="/cards" method="POST">
            <label>Front:</label>
            <input type="text" name="front" required>
            <label>Back:</label>
            <input type="text" name="back" required>
            <label>Deck:</label>
            <input type="text" name="deck" required>
            <button type="submit">Add Card</button>
        </form>
    </div>
<%- include('../partials/footer') %>