<%- include('../partials/header') %>
<div id="list" class="card">
    <% deck.cards.forEach((c) => { %>  
        <p><%= c.front %></p>
        <p><%= c.back %></p>
    <% }) %>
    <button type="submit">Show Answer</button>
</div>

<%- include('../partials/footer') %>